* {font-family:Dotum; font-size:14px; margin:0; padding:0;}

body.unselectable {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;}
#contentWrap {width:100%; height:100%; margin:20px 0;}

/*cursor*/
.cursorDiv {position:absolute; border:thin solid #0000FF;}
.cursorDiv .cursorDivRelative {width:100%; height:100%;}
.cursorDiv .cursorDivRelative span {position:absolute; width:4px; height:4px; background-color:#FFFFFF; border:thin solid #0000FF; display:inline-block;}

/**/
.Board {margin:0 auto;}
.Board .View {border:thin solid #004F8C; padding:1px; margin:20px 0 0 0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.Board .View .Page_Title {color:#000; padding:2px; line-height:20px;}
.Board .View_selected {background-color:#004F8C;}
.Board .View_selected .Page_Title {color:#fff;}

.Board .View .Page {border:thin solid #004F8C; background-color:#fff;}
.Board .View .Page .Panel {position:relative; margin:0 auto; overflow:hidden;}
.Board .View .Page .Panel .Item {position:absolute; border:thin solid #ccc; display:inline-block;}
.Board .View .Page .Panel .eventCanvas {position:absolute;}